<%- include('partials/head') %>
<html>
<body>
    <h1>NCT.Blogs</h1>
    <h3>在这里，也许会有些有用的</h3>
    <p><a href="/">返回首页</a></p>

    <section class="div">
        <a class="button" href="?">全部</a>
        <% const keys = Object.keys(AllTags); %>
        <% keys.forEach(function(id) { %>
            <% const name = AllTags[id]; %>
            <a class="button" href="?tag=<%- id %>">#<%- name %></a>
        <% }) %>
    </section>

    <section class="prot">
        <% if (SavedTags.length > 0){%>
            <% SavedTags.forEach(Prot =>{%>
                <div class="div">
                    <a href="/port/<%= Prot.filename %>">
                        <h2><%= Prot.title %></h2>
                        <p>作者：<%= Prot.author%></p>
                        <p>創稿日期：<%= Prot.CreationDate%></p>
                        <p>語言：<%= Prot.Language%></p>
                        <p>
                            <% if (Prot.tagid && Prot.tagid.length > 0) { %>
                                <% Prot.tagid.forEach(id => { %>
                                    <span class="tag-label">#<%= AllTags[id] %> </span>
                                <% }) %>
                            <% } else { %>
                                #無標籤
                            <% } %>
                        </p>
                    </a>

                </div>
            <%})%>
        <%} else {%>
            <h3>暫時還沒有文章喵~</h3>
        <%}%>
    </section>

    <%- include('partials/foot') %>
</body>
</html>

