<%- include('partials/head') %>
<html>
<body class="blog-list-page">
    <a href="/" class="page-back-link">← <%= t('navigation.home') %></a>
    <h1><%= t('blog.title') %></h1>
    <h3><%= t('blog.subtitle') %></h3>

    <section class="div blog-filter-bar">
        <a class="button" href="?"><%= t('blog.all') %></a>
        <% const keys = Object.keys(AllTags); %>
        <% keys.forEach(function(id) { %>
            <% const name = AllTags[id]; %>
            <a class="button" href="?tag=<%- id %>">#<%- name %></a>
        <% }) %>
    </section>

    <section class="prot blog-list">
        <% if (SavedTags.length > 0){%>
            <% SavedTags.forEach(Prot =>{%>
                <article class="div blog-list-card">
                    <a href="/port/<%= Prot.filename %>" class="blog-list-card__link">
                        <div class="blog-list-card__main">
                            <h2 class="blog-list-card__title">
                                <span class="blog-list-card__title-original"><%= Prot.title %></span>
                                <% if (Prot.translatedTitle) { %>
                                    <span class="blog-list-card__title-translation"><%= Prot.translatedTitle %></span>
                                <% } %>
                            </h2>
                        </div>
                        <div class="blog-list-card__meta">
                            <p><%= t('blog.author') %><%= Prot.author %></p>
                            <p><%= t('blog.creationDate') %><%= Prot.localizedCreationDate || Prot.CreationDate %></p>
                            <p><%= t('blog.language') %><%= Prot.localizedLanguage || Prot.Language %></p>
                            <p class="blog-list-card__tags">
                                <% if (Prot.tagid && Prot.tagid.length > 0) { %>
                                    <% Prot.tagid.forEach(id => { %>
                                        <span class="tag-label">#<%= AllTags[id] || id %></span>
                                    <% }) %>
                                <% } else { %>
                                    <span class="tag-label"><%= t('blog.noTag') %></span>
                                <% } %>
                            </p>
                        </div>
                    </a>
                </article>
            <%})%>
        <%} else {%>
            <h3><%= t('blog.empty') %></h3>
        <%}%>
    </section>

    <%- include('partials/foot') %>
</body>
</html>
