<!DOCTYPE html>
<html lang="<%= lang %>">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="color-scheme" content="light dark">
        <title><%- title %></title>
        <link rel="stylesheet" href="/css/index.css">
        <link rel="icon" href="/favicon.svg"/>
        <script>
            window.API_URL = "<%= apiUrl %>";
            window.APP_LANG = "<%= lang %>";
            window.I18N = <%- JSON.stringify(clientMessages) %>;
        </script>
    </head>
    <body>
        <%- include('partials/language_switcher') %>

        <div class="hero">
            <h1><%= t('common.siteName') %></h1>
            <p>
                <%= t('index.tagline') %>
            </p>
            <div class="hero__actions">
                <a href="/form" class="btn"><%= t('index.fillForm') %></a>
                <a href="/map" class="btn"><%= t('index.viewMap') %></a>
                <a href="/blog" class="btn btn--library"><%= t('index.blogLibrary') %></a>
            </div>
        </div>

        <script src="/js/map_data_store.js"></script>
        <script src="/js/map_preload.js"></script>
        <script src="/js/language_switcher.js"></script>
        <%- include('partials/foot') %>
    </body>
</html>
